<% title = 'Ajouter une Note' %>

<h2>Ajouter une Nouvelle Note</h2>
<form action="/notes/add" method="POST">
    <label for="title">Titre :</label>
    <input type="text" id="title" name="title" required>

    <label for="content">Contenu :</label>
    <textarea id="content" name="content" required></textarea>

    <button type="submit">Ajouter</button>
</form>
<a href="/notes">Retour aux Notes</a> 